/* --- Main Styles --- */

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: sans-serif;
    background: #3498db;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body.active {
    overflow: hidden;
}

.transition {
    transition: 0.5s ease all;
}

/* --- Main Title --- */

#main-title {
    padding: 50px 15px;
    text-align: center;
}

#main-title h1 {
    font-size: 100px;
    color: #fff;
    margin: 0 0 50px 0;
    padding: 0;
}

#main-title img {
    margin-right: 15px;
}

#add-counter-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    border: 3px solid #fff;
}

#add-counter-btn:hover {
    background: #fff;
    color: #3498db;
}

/* --- Counter --- */

#counters {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    max-width: 1100px;
}

.counter {
    position: relative;
    width: 300px;
    margin: 15px;
    padding: 25px 15px;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s ease all;
}

.counter h3 {
    font-size: 16px;
    margin: 0;
    color: #303244;
}

.event-days {
    font-size: 50px;
    font-weight: bold;
    color: #303244;
}

.counter p {
    margin: 0;
    color: #303244;
}

.event-original {
    font-size: 12px;
}

.counter-delete {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 17px;
    color: #9c9c9c;
}

.counter-delete:hover {
    color: #3498db;
}

.counter-edit {
    position: relative;
    background: #0a446b;
    color: #ffffff;
    overflow: hidden;
    height: 0;
    margin: 15px -15px -25px -15px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.counter:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.counter:hover .counter-edit {
    padding: 10px;
    height: 20px;
}

/* --- Add Counter --- */

#add-counter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 50px 15px 15px 15px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -1;
}

#add-counter.active {
    opacity: 1;
    z-index: 99999;
}

#add-counter-modal {
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    top: -50px;
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.22), 0 3px 1px -2px rgba(0,0,0,0.3);
}

#add-counter.active #add-counter-modal {
    top: 0;
    opacity: 1;
}

#modal-header {
    position: relative;
    background: #3498db;
    padding: 15px;
    text-align: center;
}

#modal-header h2 {
    color: #fff;
    font-weight: normal;
}

#close-modal {
    position: absolute;
    color: #fff;
    top: 5px;
    right: 10px;
    font-size: 25px;
}

#modal-content {
    padding: 30px 15px;
    text-align: center;
}

#modal-content p {
    background: #bb6c6c;
    max-width: 400px;
    margin: 0 auto 10px auto;
    padding: 10px;
    color: #fff;
    display: none;
}

#modal-content p.active {
    display: block;
}

.modal-field {
    display: block;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #b7b7b7;
}

.modal-field:focus {
    outline: none;
    border-bottom: 2px solid #3498db;
}

#modal-submit {
    background: #3498db;
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
}

#modal-submit:hover {
    background: #1b679a;
}

.pika-single.is-bound {
    z-index: 999999;
}

/* --- Counter Deleted ---- */

#counter-deleted {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

#counter-deleted.active {
    display: block;
}

#counter-deleted p {
    display: inline-block;
    padding: 15px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#undo-delete {
    text-decoration: none;
    font-weight: bold;
    color: #3498db;
}

#undo-delete:hover {
    text-decoration: underline;
}

/* --- Media Queries --- */

@media screen and (max-width: 1000px) {

    #main-title h1 {
        font-size: 50px;
    }

    #main-title img {
        width: 35px;
        height: auto;
    }

    .counter {
        width: 250px;
    }

}
