/* --- Main Styles --- */

$blue: #3498db;
$red: #e74c3c;
$green: #2ecc71;
$yellow: #f1c40f;
$orange: #e67e22;
$turquoise: #1abc9c;
$pink: #e91e63;
$purple: #9b59b6;
$dark: #2c3e50;
$light: #ecf0f1;

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: sans-serif;
    background-color: $blue;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

body.active {
    overflow: hidden;
}

.transition {
    transition: 0.5s ease all;
}

/* --- Main Title --- */

#no-counters {
    display: none;
    padding: 15px;
    text-align: center;

    img {
            max-width: 100%;
    }

    &.active {
        display: block;
    }
}

#add-counter-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    border: 3px solid #fff;

    &:hover {
        background: #fff;
        color: $blue;
    }
}

/* --- Counter --- */

#counters {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    max-width: 1100px;

    &.small {
        .counter {
            width: 200px;
        }
    }

    &.large {
        .counter {
            width: 400px;
        }
    }
}

.counter {
    position: relative;
    cursor: move;
    width: 300px;
    margin: 15px;
    padding: 35px 15px;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: 0.3s ease all;

    h3 {
        font-size: 16px;
        margin: 0;
        color: #303244;
    }

    p {
        margin: 0;
        color: #303244;
    }

    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        .counter-edit {
            padding: 5px 0;
            height: 20px;
        }

        .counter-delete {
            display: block;
        }
    }

    &.disabled {
        display: none;
    }
}

.event-days {
    font-size: 50px;
    font-weight: bold;
    color: #303244;
}

.event-date {
    font-size: 12px;
}

.counter-delete {
    position: absolute;
    display: none;
    top: 5px;
    right: 8px;
    font-size: 17px;
    color: #9c9c9c;

    &:hover {
        color: $blue;
    }
}

.counter-edit {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0a446b;
    color: #ffffff;
    overflow: hidden;
    height: 0;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

/* --- Add Counter --- */

#add-counter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 50px 15px 15px 15px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 99999;

        #add-counter-modal {
            top: 0;
            opacity: 1;
        }

        #modal-content {
            display: block;
        }
    }
}

#add-counter-modal {
    max-width: 500px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    top: -50px;
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.22), 0 3px 1px -2px rgba(0,0,0,0.3);
}

#modal-header {
    position: relative;
    background: $blue;
    padding: 15px;
    text-align: center;

    h2 {
        color: #fff;
        font-weight: normal;
    }
}

#close-modal {
    position: absolute;
    color: #fff;
    top: 5px;
    right: 10px;
    font-size: 25px;
}

#modal-content {
    padding: 30px 15px;
    text-align: center;
    display: none;

    p {
        background: #bb6c6c;
        max-width: 400px;
        margin: 0 auto 10px auto;
        padding: 10px;
        color: #fff;
        display: none;
    }
}

#event-name-error.active, #event-date-error.active {
    display: block;
}

.modal-field {
    display: block;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #b7b7b7;

    &:focus {
        outline: none;
        border-bottom: 2px solid $blue;
    }
}

#event-recurring {
    display: block;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 400px;
    border: none;
    border-bottom: 2px solid #b7b7b7;
    padding: 8px 0;

    &:focus {
        outline: none;
    }
}

#modal-submit {
    background: $blue;
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: darken($blue, 5%);
    }
}

.pika-single.is-bound {
    z-index: 999999;
}

/* --- Delete Counter ---- */

#delete-counter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 50px 15px 15px 15px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -1;

    &.active {
        opacity: 1;
        z-index: 99999;

        #delete-counter-modal {
            top: 0;
            opacity: 1;
        }
    }
}

#delete-counter-modal {
    max-width: 350px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    font-size: 16px;
    top: -50px;
    opacity: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.22), 0 3px 1px -2px rgba(0,0,0,0.3);

    p {
        margin: 0;
		color: #61686e;
    }
}

#delete-buttons {
    margin-top: 30px;
    text-align: right;

    a {
        display: inline-block;
        text-decoration: none;
    }
}

#delete-cancel {
    margin-right: 5px;
    border: 2px solid #98a1a9;
    padding: 10px 25px;
    background: #fff;
    color: #98a1a9;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: #98a1a9;
        color: #fff;
    }
}

#delete-confirm {
    border: 2px solid #bd5252;
    background: #bd5252;
    color: #fff;
    padding: 10px 50px;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
        border: 2px solid darken(#bd5252, 5%);
        background: darken(#bd5252, 5%);
    }
}

/* --- Settings --- */

#settings-toggle {
    position: absolute;
    top: 15px;
    left: 15px;
    color: darken($blue, 10%);
    font-size: 2em;
    cursor: pointer;

    &:hover {
        color: #fff;
    }

    &.active {
        color: #fff;
        transform: rotateZ(180deg);
    }
}

#settings {
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
    max-width: 200px;
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    z-index: 999;

    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 5px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
    }

    &.active {
        display: block;
    }

    h2 {
        margin: 0 0 5px 0;
        font-size: 1.3em;
    }

    a {
        display: inline-block;
        text-decoration: none;
        background: $blue;
        border: none;
        color: #fff;
        margin-top: 15px;
        padding: 10px 20px;
        border-radius: 4px;

        &:hover {
            background: darken($blue, 5%);
        }
    }
}

#setting-scheme, #setting-visible {
    h2 {
        margin-top: 15px;
    }
}

/* --- Colour Schemes --- */

.red {
    background-color: $red;

    body {
        background-color: $red;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $red;
    }

    .counter-edit {
        background: darken($red, 30%);
    }

    #modal-header {
        background: $red;
    }

    .modal-field:focus {
        border-bottom: 2px solid $red;
    }

    #modal-submit {
        background: $red;

        &:hover {
            background: darken($red, 5%);
        }
    }

    #settings-toggle {
        color: darken($red, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $red;

            &:hover {
                background: darken($red, 5%);
            }
        }
    }
}

.green {
    background-color: $green;

    body {
        background-color: $green;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $green;
    }

    .counter-edit {
        background: darken($green, 30%);
    }

    #modal-header {
        background: $green;
    }

    .modal-field:focus {
        border-bottom: 2px solid $green;
    }

    #modal-submit {
        background: $green;

        &:hover {
            background: darken($green, 5%);
        }
    }

    #settings-toggle {
        color: darken($green, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $green;

            &:hover {
                background: darken($green, 5%);
            }
        }
    }
}

.yellow {
    background-color: $yellow;

    body {
        background-color: $yellow;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $yellow;
    }

    .counter-edit {
        background: darken($yellow, 30%);
    }

    #modal-header {
        background: $yellow;
    }

    .modal-field:focus {
        border-bottom: 2px solid $yellow;
    }

    #modal-submit {
        background: $yellow;

        &:hover {
            background: darken($yellow, 5%);
        }
    }

    #settings-toggle {
        color: darken($yellow, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $yellow;

            &:hover {
                background: darken($yellow, 5%);
            }
        }
    }
}

.orange {
    background-color: $orange;

    body {
        background-color: $orange;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $orange;
    }

    .counter-edit {
        background: darken($orange, 30%);
    }

    #modal-header {
        background: $orange;
    }

    .modal-field:focus {
        border-bottom: 2px solid $orange;
    }

    #modal-submit {
        background: $orange;

        &:hover {
            background: darken($orange, 5%);
        }
    }

    #settings-toggle {
        color: darken($orange, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $orange;

            &:hover {
                background: darken($orange, 5%);
            }
        }
    }
}

.turquoise {
    background-color: $turquoise;

    body {
        background-color: $turquoise;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $turquoise;
    }

    .counter-edit {
        background: darken($turquoise, 30%);
    }

    #modal-header {
        background: $turquoise;
    }

    .modal-field:focus {
        border-bottom: 2px solid $turquoise;
    }

    #modal-submit {
        background: $turquoise;

        &:hover {
            background: darken($turquoise, 5%);
        }
    }

    #settings-toggle {
        color: darken($turquoise, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $turquoise;

            &:hover {
                background: darken($turquoise, 5%);
            }
        }
    }
}

.pink {
    background-color: $pink;

    body {
        background-color: $pink;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $pink;
    }

    .counter-edit {
        background: darken($pink, 30%);
    }

    #modal-header {
        background: $pink;
    }

    .modal-field:focus {
        border-bottom: 2px solid $pink;
    }

    #modal-submit {
        background: $pink;

        &:hover {
            background: darken($pink, 5%);
        }
    }

    #settings-toggle {
        color: darken($pink, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $pink;

            &:hover {
                background: darken($pink, 5%);
            }
        }
    }
}

.purple {
    background-color: $purple;

    body {
        background-color: $purple;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $purple;
    }

    .counter-edit {
        background: darken($purple, 30%);
    }

    #modal-header {
        background: $purple;
    }

    .modal-field:focus {
        border-bottom: 2px solid $purple;
    }

    #modal-submit {
        background: $purple;

        &:hover {
            background: darken($purple, 5%);
        }
    }

    #settings-toggle {
        color: darken($purple, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $purple;

            &:hover {
                background: darken($purple, 5%);
            }
        }
    }
}

.dark {
    background-color: $dark;

    body {
        background-color: $dark;
    }

    #add-counter-btn:hover, .counter-delete:hover, #undo-delete {
        color: $dark;
    }

    .counter-edit {
        background: darken($dark, 30%);
    }

    #modal-header {
        background: $dark;
    }

    .modal-field:focus {
        border-bottom: 2px solid $dark;
    }

    #modal-submit {
        background: $dark;

        &:hover {
            background: darken($dark, 5%);
        }
    }

    #settings-toggle {
        color: darken($dark, 10%);

        &:hover {
            color: #fff;
        }
    }

    #settings {
        a {
            background: $dark;

            &:hover {
                background: darken($dark, 5%);
            }
        }
    }
}

.light {
    background-color: $light;

    body {
        background-color: $light;
    }

    #main-title {

        h1 {
            color: #616377;
        }

        svg {
            fill: #616377;
        }
    }

    #add-counter-btn {
        color: #616377;
        border: 3px solid #616377;

        &:hover {
            background: #616377;
            color: #fff;
        }
    }

    .counter-delete:hover, #undo-delete {
        color: #303244;
    }

    .counter-edit {
        background: #303244;
    }

    #modal-header {
        background: #303244;
    }

    .modal-field:focus {
        border-bottom: 2px solid #303244;
    }

    #modal-submit {
        background: #303244;

        &:hover {
            background: darken(#303244, 5%);
        }
    }

    #settings-toggle {
        color: #b4b6ca;

        &:hover {
            color: darken(#303244, 30%);
        }
    }

    #settings {
        a {
            background: #303244;

            &:hover {
                background: darken(#303244, 5%);
            }
        }
    }
}

/* --- Media Queries --- */

@media screen and (max-width: 1000px) {

    .counter {
        width: 250px;
    }

}
